<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="eight page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 text-center">
					БЕСПЛАТНО
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-12 title_blue_dark">ЧТО ВЫ ПОЛУЧАЕТЕ</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12">полную версию системы на 3 месяца </div>
								<div class="col-xs-12">полноценный запуск системы и техническую поддержку в течение всего тестового периода</div>
								<div class="col-xs-12">выделенный номер для консультаций и доступ в менеджер-задач для поддержки</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-12 title_blue_dark">ЧТО МЫ ГАРАНТИРУЕМ</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12">настройку и доработку МедАнгел с учетом специфики и потребностей Вашей организации  </div>
								<div class="col-xs-12">обучение персонала</div>
								<div class="col-xs-12">фиксированную цену использования МедАнгел после окончания тестового периода, обозначенную заранее </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 text-center">
					ЧТО ДАЛЬШЕ?
				</div>
				<div class="col-xs-12 text-center">
					Через 3 месяца работы Вашей клиники с МедАнгел, Вы сможете оценить, что, как и планировалось: 
				</div>
				<div class="col-xs-12 text-center">
					<div class="row">
						<div class="col-xs-4 text-right">
							сократились трудозатраты
						</div>
						<div class="col-xs-4 text-center">
							увеличилась прибыль 
						</div>
						<div class="col-xs-4 tecet-left">
							повысился престиж клиники
						</div>
					</div>
				</div>
				<div class="col-xs-12 std_p">
					<div class="row">
						<div class="col-xs-12 col-sm-6 ">
							<div class="row">
								<div class="col-xs-12">Мы продолжим
		наше продуктивное сотрудничество</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="row">
								<div class="col-xs-12">Вы можете отказаться от продолжения использования МедАнгел по любой причине – мы просто деинсталлируем решение и свернем работы. Ничего платить не нужно – все риски мы берем на себя.</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>