<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="fifth page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 text-center title_blue_dark">ВЫБОР ФОРМ ДОКУМЕНТОВ
ПО ТИПУ КЛИЕНТА</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin16.png" alt=""></div>
								<div class="col-xs-12 text-center title_blue_dark">РЕГИСТРАТОР</div>
								<div class="col-xs-12">
									<div class="marked">рутинная
бумажная работа</div>
									<div class="marked">электронный
документооборот
</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin18.png" alt=""></div>
								<div class="col-xs-12 text-center title_blue_dark">Клиент</div>
								<div class="col-xs-12">
									<div class="marked">утомительное
ожидание
</div>
									<div class="marked">клиентоориенти-
рованный подход
</div>								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin17.png" alt=""></div>
								<div class="col-xs-12 text-center title_blue_dark">ВЫБОР ФОРМ ДОКУМЕНТОВ
ПО ТИПУ КЛИЕНТА</div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12 icon_std"><img src="" alt=""></div>
												<div class="col-xs-12 head">ОБЯЗАТЕЛЬНОЕ
МЕДИЦИНСКОЕ СТРАХОВАНИЕ</div>
												<div class="col-xs-12 body">
													<div>список
доступных услуг</div>
													<div>форма для заполнения
персональных данных
пациента</div>
													<div>автоматическое
формирование отчёта
для страховых компаний</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12 icon_std"><img src="" alt=""></div>
												<div class="col-xs-12 head">ПЛАТНЫЕ
УСЛУГИ</div>
												<div class="col-xs-12 body">
													<div>список услуг 
</div>
													<div>поле для заполнения
персональных данных
пациента
</div>
													<div>автоматическое
формирование
договора и чека
</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12 icon_std"><img src="" alt=""></div>
												<div class="col-xs-12 head">ДОБРОВОЛЬНОЕ
МЕДИЦИНСКОЕ СТРАХОВАНИЕ
</div>
												<div class="col-xs-12 body">
													<div>реестр
застрахованных лиц</div>
													<div>автоматическое
заполнение персональных
данных пациента
</div>
													<div>автоматическое
формирование отчёта
для взаиморасчётов</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin19.png" alt=""></div>
						<div class="col-xs-12 text-center title_blue_dark">Расчёт мотивации персонала</div>
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-12">
									<div class="marked">расчёт мотивации персонала
привязан к показателям ока-
зания услуг по полюсу ОМС
и по платным медицинским
услугам
</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-12">
									<div class="marked">доступны настраиваемые формы
для выставления счетов в фонд
ОМС
</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 std_p">
							<div class="row">
								<div class="col-xs-4">
									<div class="row">
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin20.png" alt=""></div>
													<div class="col-xs-12 head">РЕГИСТРАТУРА</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin21.png" alt=""></div>
													<div class="col-xs-12 head">СТРАХОВЫЕ
КОМПАНИИ</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="col-xs-4">
									<div class="row">
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin23.png" alt=""></div>
													<div class="col-xs-12 head"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="row">
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin.png" alt=""></div>
													<div class="col-xs-12 head">РАБОЧЕЕ МЕСТО
ВРАЧА</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin22.png" alt=""></div>
													<div class="col-xs-12 head">БУХГАЛТЕРИЯ
КЛИНИКИ</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin7.png" alt=""></div>
						<div class="col-xs-12 text-center title_blue_dark">АНАЛИТИКА, УПРАВЛЕНИЕ ПРОДАЖАМИ И CRM</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="" alt=""></div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-12 col-sm-6 plus_img_vert">
											<div class="row">
												<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin8.png" alt=""></div>
												<div class="col-xs-12 head">МОЩНЫЕ
ИНСТРУМЕНТЫ</div>
												<div class="col-xs-12 body">
													<div>правильной
организации
работы</div>
													<div>планирования
и контроля</div>
													<div>мотивации
сотрудников</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 plus_img_vert">
											<div class="row">
												<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin9.png" alt=""></div>
												<div class="col-xs-12 head">КЛЮЧЕВЫЕ ПОКАЗАТЕЛИ
ЭФФЕКТИВНОСТИ
РАССЧИТЫВАЮТСЯ АВТОМАТИЧЕСКИ
И ДОСТУПНЫ В РЕЖИМЕ ОНЛАЙН</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 marked">
							адресная работа с активной и пассивной клиентской базой - возможность предлагать пациентам именно те услуги, которые актуальны для них, и тем самым увеличивать количество повторных визитов в клинику
						</div>
						<div class="col-xs-12 marked">
							формирование скидок, акций, пакетных предложений, программ
лояльности, подарочных сертификатов прямо в системе
						</div>
						<div class="col-xs-12 marked">
							автоматический расчет себестоимости услуг и других показа-
телей
						</div>
						<div class="col-xs-12 marked">
							управление sms-рассылками, звонками и Интернет-рекламой. Возможность организации call-центра 
						</div>
						<div class="col-xs-12 marked">
							адресная работа с активной и пассивной анализ источников трафика клиентов 
						</div>
						<div class="col-xs-12 marked">
							сравнительный анализ количества клиентов, записанных на прием,
и клиентов, получивших услугу, и других данных
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 icon_std"><img src="" alt=""></div>
						<div class="col-xs-12 text-center title_blue_dark">Управление трафиком</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin13.png" alt=""></div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin10.png" alt=""></div>
												<div class="col-xs-12 head">ОНЛАЙН – ЗАПИСЬ
НА САЙТЕ КЛИНИКИ
</div>
												<div class="col-xs-12 body">
													<div>онлайн-запись на сай- ПАЦИЕНТОВ
те клиники предостав-
ляет пациентам дос-
туп к электронному
расписанию.
Пациенты выбирают
удобное время и запи-
сываются на прием
самостоятельно.
Круглосуточно.</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin11.png" alt=""></div>
												<div class="col-xs-12 head">ЛИСТ
ОЖИДАНИЯ</div>
												<div class="col-xs-12 body">
													<div>на наиболее вост-
ребованные услуги
пациенты записы-
ваются в электрон-
ную очередь</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin12.png" alt=""></div>
												<div class="col-xs-12 head">ТЕРМИНАЛЫ
САМООБСЛУЖИВАНИЯ
онлайн-запись на сай- ПАЦИЕНТОВ
</div>
												<div class="col-xs-12 body">
													<div>терминалы подключаются
к электронному расписанию.
Пациенты записываются
на прием без участия пер-
сонала клиники
</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6 marked">
							
									сокращаются очереди
								
						</div>
						<div class="col-xs-6 marked">
							
									улучшается качество
обслуживания
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>