<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="fifth page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 text-center title_blue">ФУНКЦИОНАЛЬНЫЕ ВОЗМОЖНОСТИ МОДУЛЯ</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 text-center subtitle_blue">РЕГИСТРАТОР</div>
								<div class="col-xs-12">
									<div class="marked">электронная амбулаторная карта пациента</div>
									<div class="marked">электронная амбулаторная карта пациента</div>
									<div class="marked">электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 text-center subtitle_blue">Клиент</div>
								<div class="col-xs-12">
									<div class="marked">электронная амбулаторная карта пациента</div>
									<div class="marked">электронная амбулаторная карта пациента</div>
									<div class="marked">электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 text-center subtitle_blue">Выбор документа по типу форм</div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12"><img src="" alt=""></div>
												<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												<div class="col-xs-12 body">
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12"><img src="" alt=""></div>
												<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												<div class="col-xs-12 body">
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12"><img src="" alt=""></div>
												<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												<div class="col-xs-12 body">
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12"><img src="" alt=""></div>
						<div class="col-xs-12 text-center title_blue">Расчёт мотивации персонала</div>
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 text-center subtitle_blue">Клиент</div>
								<div class="col-xs-12">
									<div class="marked">электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 text-center subtitle_blue">Клиент</div>
								<div class="col-xs-12">
									<div class="marked">электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 std_p">
							<div class="row">
								<div class="col-xs-4">
									<div class="row">
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12"><img src="" alt=""></div>
													<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12"><img src="" alt=""></div>
													<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="col-xs-4">
									<div class="row">
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12"><img src="" alt=""></div>
													<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="row">
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12"><img src="" alt=""></div>
													<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="plus_img_vert">
												<div class="row">
													<div class="col-xs-12"><img src="" alt=""></div>
													<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12"><img src="" alt=""></div>
						<div class="col-xs-12 text-center subtitle_blue">АНАЛИТИКА, УПРАВЛЕНИЕ ПРОДАЖАМИ И CRM</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-12 col-sm-6 plus_img_vert">
											<div class="row">
												<div class="col-xs-12"><img src="" alt=""></div>
												<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												<div class="col-xs-12 body">
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 plus_img_vert">
											<div class="row">
												<div class="col-xs-12"><img src="" alt=""></div>
												<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												<div class="col-xs-12 body">
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 marked">
							адресная работа с активной и пассивной клиентской базой - возможность предлагать пациентам именно те услуги, которые актуальны для них, и тем самым увеличивать количество повторных визитов в клинику
						</div>
						<div class="col-xs-12 marked">
							адресная работа с активной и пассивной клиентской базой - возможность предлагать пациентам именно те услуги, которые актуальны для них, и тем самым увеличивать количество повторных визитов в клинику
						</div>
						<div class="col-xs-12 marked">
							адресная работа с активной и пассивной клиентской базой - возможность предлагать пациентам именно те услуги, которые актуальны для них, и тем самым увеличивать количество повторных визитов в клинику
						</div>
						<div class="col-xs-12 marked">
							адресная работа с активной и пассивной клиентской базой - возможность предлагать пациентам именно те услуги, которые актуальны для них, и тем самым увеличивать количество повторных визитов в клинику
						</div>
						<div class="col-xs-12 marked">
							адресная работа с активной и пассивной клиентской базой - возможность предлагать пациентам именно те услуги, которые актуальны для них, и тем самым увеличивать количество повторных визитов в клинику
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12"><img src="" alt=""></div>
						<div class="col-xs-12 text-center subtitle_blue">Управление трафиком</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12"><img src="" alt=""></div>
												<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												<div class="col-xs-12 body">
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12"><img src="" alt=""></div>
												<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												<div class="col-xs-12 body">
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 plus_img_vert">
											<div class="row">
												<div class="col-xs-12"><img src="" alt=""></div>
												<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
												<div class="col-xs-12 body">
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
													<div>электронная амбулаторная карта пациента</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6 marked">
							
									адресная работа с активной и пассивной клиентской базой - возможность предлагать пациентам именно те услуги, которые актуальны для них, и тем самым увеличивать количество повторных визитов в клинику
								
						</div>
						<div class="col-xs-6 marked">
							
									адресная работа с активной и пассивной клиентской базой - возможность предлагать пациентам именно те услуги, которые актуальны для них, и тем самым увеличивать количество повторных визитов в клинику
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>