<div class="container col-xs-12">
	<div class="first page">
		<div class="wrapper col-xs-12 col-sm-8 col-xs-offet-0 col-sm-offset-2">
			<div class="row">
				<img src="" alt="" class="col-xs-12" height="300px">
				<div class="text-center col-xs-12white">
					ДЛЯ МЕДИЦИНСКИХ КЛИНИК
					И ДИАГНОСТИЧЕСКИХ ЦЕНТРОВ
				</div>
				<div class="list_wrp col-xs-12">
					<div class="row">
						<div class="item col-xs-12 col-sm-6">
							<div class="row">
								<img src="" alt="">
								<span class="col-xs-10 col-sm-12  text-center">Полный контур автоматизации работы:
										регистратура - лаборатория -
										страховая компания
								</span>
							</div>
						</div>
						<div class="item col-xs-12 col-sm-6">
							<div class="row">
								<img src="" alt="">
								<span class="col-xs-10 col-sm-12 text-center">Управление коммуникациями
										с пациентами (CRM клиники)
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>