<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="fourth page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 text-center title_blue">Автоматический обмен данными</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 plus_img_vert">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
								<div class="col-xs-12 body">
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 plus_img_vert">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
								<div class="col-xs-12 body">
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 plus_img_vert">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
								<div class="col-xs-12 body">
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>