<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="fourth page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 text-center">Автоматический обмен данными</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12  plus_img_vert">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin16.png" alt=""></div>
								<div class="col-xs-12 head">ДЛЯ
РЕГИСТРАТОРА</div>
								<div class="col-xs-12 body">
									<div>быстро найти свободное время в электронном расписании
и записать пациента на прием врача или в лабораторию</div>
									<div>просто принять оплату от клиента, выставить счет
страховой компании</div>
									<div>надежно вести базу клиентов</div>
									<div>удобно собирать статистику входящих и исходящих
									<div>без трудозатрат составить отчет по оказанным услугам
или персоналу
</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 plus_img_vert">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin18.png" alt=""></div>
								<div class="col-xs-12 head">ДЛЯ
КЛИЕНТА</div>
								<div class="col-xs-12 body">
									<div>комфортно записаться на прием онлайн 24/7 на сайте клиники
</div>
									<div>заранее получить sms-напоминание о назначенном приеме
</div>
									<div>легко получить результаты обследований и анализов
в личном кабинете на сайте клиники</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 plus_img_vert">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin24.png" alt=""></div>
								<div class="col-xs-12 head">ДЛЯ ВЛАДЕЛЬЦА
И ДИРЕКТОРА
</div>
								<div class="col-xs-12 body">
									<div>в несколько кликов сформировать отчет о работе клиники</div>
									<div>уверенно принимать решения, основываясь на анализе
ключевых показателей </div>
									<div>оперативно контролировать работу персонала</div>
									<div>выгодно сократить временные затраты сотрудников
									<div>эффективно установить стандарты работы
и мотивировать сотрудников
</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>