<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="nine page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					Дадим готовые решения
				</div>
				<div class="col-xs-12">
					ОПТИМИЗИРУЕМ СИСТЕМУ ПОД ЗАДАЧИ ВАШЕГО БИЗНЕСА
				</div>
				<div class="col-xs-12">
					ОБУЧИМ ПОЛЬЗОВАТЕЛЕЙ, ПРЕДОСТАВИМ ПЕРВЫЙ ГОД ПОДДЕРЖКИ - БЕЗ ОПЛАТЫ
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				Купить медангел
			</div>
		</div>
	</div>
</div>