<div class="clearfix"></div>
<div class="container col-xs-12">
		<div class="second page">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 text-center title_blue">О системе</div>
					<div class="col-xs-12">
						<div class="row">
							<div class=" col-xs-12 col-sm-4">
								<div class="row">
									<div class="col-xs-12">
										<img src="" alt="">
									</div>
									<div class="col-xs-12 text-center subtitle_blue">
										ПРОСТАЯ В ОСВОЕНИИ
									</div>
									<div class="col-xs-12">
										<div class="col-xs-12 col-md-10 col-md-offset-1">
											<div class="plus_line">докторам - заполнить и вывести на печать готовые шаблоны протоколов обследований</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">возможность выбора модулей и функций, необходимых для решения именно Ваших бизнес-задач</div>
											<div class="plus_line">Просто удобно</div>
										</div>
									</div>
								</div>
							</div>
							<div class=" col-xs-12 col-sm-4">
								<div class="row">
									<div class="col-xs-12">
										<img src="" alt="">
									</div>
									<div class="col-xs-12 text-center subtitle_blue">
										ПРОСТАЯ В ОСВОЕНИИ
									</div>
									<div class="col-xs-12">
										<div class="col-xs-12 col-md-10 col-md-offset-1">
											<div class="plus_line">докторам - заполнить и вывести на печать готовые шаблоны протоколов обследований</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
										</div>
									</div>
								</div>
							</div>
							<div class=" col-xs-12 col-sm-4">
								<div class="row">
									<div class="col-xs-12">
										<img src="" alt="">
									</div>
									<div class="col-xs-12 text-center subtitle_blue">
										ПРОСТАЯ В ОСВОЕНИИ
									</div>
									<div class="col-xs-12">
										<div class="col-xs-12 col-md-10 col-md-offset-1">
											<div class="plus_line">докторам - заполнить и вывести на печать готовые шаблоны протоколов обследований</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 text-center title_blue">2 варианта использования</div>
					<div class="col-xs-12">
						<div class="row">
							<div class=" col-xs-12 col-sm-6">
								<div class="row">
									<div class="col-xs-12">
										<img src="" alt="">
									</div>
									<div class="col-xs-12 text-center subtitle_blue">
										ПРОСТАЯ В ОСВОЕНИИ
									</div>
									<div class="col-xs-12">
										<div class="col-xs-12 col-md-10 col-md-offset-1">
											<div class="plus_line">докторам - заполнить и вывести на печать готовые шаблоны протоколов обследований</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
										</div>
									</div>
								</div>
							</div>
							<div class=" col-xs-12 col-sm-6">
								<div class="row">
									<div class="col-xs-12">
										<img src="" alt="">
									</div>
									<div class="col-xs-12 text-center subtitle_blue">
										ПРОСТАЯ В ОСВОЕНИИ
									</div>
									<div class="col-xs-12">
										<div class="col-xs-12 col-md-10 col-md-offset-1">
											<div class="plus_line">докторам - заполнить и вывести на печать готовые шаблоны протоколов обследований</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
											<div class="plus_line">Просто удобно</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12 advantages">
								<div class="row">
									<div class="col-xs-12 head">Преимущества:</div>
									<div class="col-xs-12 bot">Установка полной версии системы на бесплатный тестовый период 3 месяца.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>