<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="seventh page">
		<div class="col-xs-12">
			<div class="row">
				<div class="text-center icon_std">
					<img src="img/pres_medangel_lin3.png" alt="">
					ИНТЕГРАЦИЯ С ЛАБОРАТОРНОЙ ИНФОРМАЦИОННОЙ СИСТЕМОЙ
				</div>
			</div>
		</div>
		<div class="col-xs-12 text-center">
				Медангел бесплатно интегрируется
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 text-center">с федеральными лабораторными службами (Хеликс, ИНВИТРО)</div>
				<div class="col-xs-6 text-center">с лабораторной информационной системой клиники, независимо от производителя и типа</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="text-center title_blue_dark">
					Функции модуля
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
					<div class="row">
						<div class="col-xs-12 icon_std"><img src="" alt=""></div>
						<div class="col-xs-12 head">СИНХРОНИЗАЦИЯ
СПРАВОЧНОЙ ИНФОРМАЦИИ</div>
						<div class="col-xs-12 body">
							<div>актуальные цены</div>
							<div>возможность
выполнения тестов</div>
							<div>сроки готовности
</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
					<div class="row">
						<div class="col-xs-12 icon_std"><img src="" alt=""></div>
						<div class="col-xs-12 head">АВТОМАТИЧЕСКАЯ ВЫГРУЗКА ЗАКАЗОВ
НА ЛАБОРАТОРНОЕ ИССЛЕДОВАНИЕ В ЛИС,
В ТОМ ЧИСЛЕ ДОПОЛНИТЕЛЬНЫХ ЗАКАЗОВ
</div>
						<div class="col-xs-12 body">
							<div>исключение двойного ввода данных </div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
					<div class="row">
						<div class="col-xs-12 icon_std"><img src="" alt=""></div>
						<div class="col-xs-12 head">АВТОМАТИЧЕСКАЯ ЗАГРУЗКА
РЕЗУЛЬТАТОВ ЛАБОРАТОРНЫХ
АНАЛИЗОВ ИЗ ЛИС </div>
						<div class="col-xs-12 body">
							<div>для печати</div>
							<div>для ЭМК пациента</div>
							<div>для использования
специалистами</div>
							<div>для отображения
на сайте клиники</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
					<div class="row">
						<div class="col-xs-12 icon_std"><img src="" alt=""></div>
						<div class="col-xs-12 head">АВТОМАТИЧЕСКОЕ
ИНФОРМИРОВАНИЕ ПАЦИЕНТОВ
О ГОТОВНОСТИ РЕЗУЛЬТАТОВ
</div>
						<div class="col-xs-12 body">
							<div>sms, email
</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="text-center">
					МОДУЛЬ ЦИТОЛОГИЧЕСКАЯ ЛАБОРАТОРИЯ
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-12 text-center title_blue_dark">
							ГОТОВЫЕ ШАБЛОНЫ ДЛЯ ОПИСАНИЯ РЕЗУЛЬТАТОВ ИССЛЕДОВАНИЙ 
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 col-md-4 marked">стандартизируется работа врачей-лаборантов</div>
								<div class="col-xs-12 col-md-4 marked">сокращаются трудозатраты</div>
								<div class="col-xs-12 col-md-4 marked">формируется статистика</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-12 text-center title_blue_dark">
							ШТРИХКОДИРОВАНИЕ ДОКУМЕНТОВ И ОБРАЗЦОВ
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 col-sm-6 marked">снижается вероятность человеческой ошибки</div>
								<div class="col-xs-12 col-sm-6 marked">повышается скорость работы специалистов</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>