<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="seventh page">
		<div class="col-xs-12">
			<div class="row">
				<div class="text-center title_dark">
					<img src="" alt="">
					ИНТЕГРАЦИЯ С ЛАБОРАТОРНОЙ ИНФОРМАЦИОННОЙ СИСТЕМОЙ
				</div>
			</div>
		</div>
		<div class="col-xs-12 text-center title_blue">
				Медангел бесплатно интегрируется
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 text-center">с федеральными лабораторными службами (Хеликс, ИНВИТРО)</div>
				<div class="col-xs-6 text-center">с лабораторной информационной системой клиники, независимо от производителя и типа</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="text-center subtitle_blue">
					Функции модуля
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
					<div class="row">
						<div class="col-xs-12"><img src="" alt=""></div>
						<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
						<div class="col-xs-12 body">
							<div>электронная амбулаторная карта пациента</div>
							<div>электронная амбулаторная карта пациента</div>
							<div>электронная амбулаторная карта пациента</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
					<div class="row">
						<div class="col-xs-12"><img src="" alt=""></div>
						<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
						<div class="col-xs-12 body">
							<div>электронная амбулаторная карта пациента</div>
							<div>электронная амбулаторная карта пациента</div>
							<div>электронная амбулаторная карта пациента</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
					<div class="row">
						<div class="col-xs-12"><img src="" alt=""></div>
						<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
						<div class="col-xs-12 body">
							<div>электронная амбулаторная карта пациента</div>
							<div>электронная амбулаторная карта пациента</div>
							<div>электронная амбулаторная карта пациента</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
					<div class="row">
						<div class="col-xs-12"><img src="" alt=""></div>
						<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
						<div class="col-xs-12 body">
							<div>электронная амбулаторная карта пациента</div>
							<div>электронная амбулаторная карта пациента</div>
							<div>электронная амбулаторная карта пациента</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="text-center title_blue">
					МОДУЛЬ ЦИТОЛОГИЧЕСКАЯ ЛАБОРАТОРИЯ
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-12 text-center subtitle_blue">
							ГОТОВЫЕ ШАБЛОНЫ ДЛЯ ОПИСАНИЯ РЕЗУЛЬТАТОВ ИССЛЕДОВАНИЙ 
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 col-md-4 marked">стандартизируется работа врачей-лаборантов</div>
								<div class="col-xs-12 col-md-4 marked">сокращаются трудозатраты</div>
								<div class="col-xs-12 col-md-4 marked">формируется статистика</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-12 text-center subtitle_blue">
							ШТРИХКОДИРОВАНИЕ ДОКУМЕНТОВ И ОБРАЗЦОВ
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 col-sm-6 marked">снижается вероятность человеческой ошибки</div>
								<div class="col-xs-12 col-sm-6 marked">повышается скорость работы специалистов</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>