<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="sixth page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-7 title_blue_dark">
								СОВРЕМЕННЫЙ ПОДХОД К ОРГАНИЗАЦИИ РАБОТЫ СПЕЦИАЛИСТОВ
						</div>
						<div class="col-xs-5">
							<div class="row">
								<div class="col-xs-12 marked">
									удобно для врача
								</div>
								<div class="col-xs-12 marked">
									комфортно для пациента
								</div>
								<div class="col-xs-12 marked">
									выгодно для клиники
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">

						<div class="col-xs-12dark text-center icon_std title_dark_grey"><img src="img/pres_medangel_lin.png" alt="">Рабочее место врача</div>
						<div class="col-xs-6 col-sm-3 icon_std">
							<img src="img/pres_medangel_lin6.png" alt="">
						</div>
						<div class="col-xs-6 visible-xs icon_std">
							<img src="img/pres_medangel_lin5.png" alt="">
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="row">
								<div class="col-xs-12 marked">
									хранит персональные данные пациента
								</div>
								<div class="col-xs-12 marked">
									отображает историю посещений, записей на прием, осмотров, анализов, диагнозов, оказанных услуг и оплат		
								</div>
								<div class="col-xs-12 marked">
									сокращает время заполнения отчётности
								</div>
								<div class="col-xs-12 marked">
									стандартизирует работу врачей и качество оказываемых услуг
								</div>
								<div class="col-xs-12 marked">
									упрощает взаиморасчёты со страховыми компаниями
								</div>
							</div>
						</div>
						<div class="col-xs-3 hidden-xs icon_std">
							<img src="img/pres_medangel_lin5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 plus_img_vert std_p">
			<div class="body"><div>готовые шаблоны и протоколы осмотров</div></div>
			<div class="body"><div>просмотр приёмов
других специалистов</div></div>
			<div class="body"><div>просмотр
результатов
исследований
</div></div>
			<div class="body"><div>план
лечения</div></div>
			<div class="body"><div>вывод на печать
протокола осмотра,
рекомендаций, назначений</div></div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					Дата повторного визита, назначения процедур или обследований у специалистов и другие рекомендации врача, сделан-
ные в электронной карте пациента, отображаются в модуле "Регистратура". Регистраторы получают информацию и могут
сделать пациенту напоминание и персональное предложение.
				</div>
			</div>
		</div>
		<div class="col-xs-12 std_p">
			<div class="row">
				<div class="col-xs-12 col-sm-4 marked">увеличивается частота повторных посещений</div>
				<div class="col-xs-12 col-sm-4 marked">повышается лояльность клиентов</div>
				<div class="col-xs-12 col-sm-4 marked">усиливается положительный имидж клиники</div>
			</div>
		</div>
</div>
</div>