<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="sixth page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-7 subtitle_blue">
								СОВРЕМЕННЫЙ ПОДХОД К ОРГАНИЗАЦИИ РАБОТЫ СПЕЦИАЛИСТОВ
						</div>
						<div class="col-xs-5">
							<div class="row">
								<div class="col-xs-12 marked">
									удобно для врача
								</div>
								<div class="col-xs-12 marked">
									комфортно для пациента
								</div>
								<div class="col-xs-12 marked">
									выгодно для клиники
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">

						<div class="col-xs-12 title_dark text-center"><img src="" alt="">Рабочее место врача</div>
						<div class="col-xs-6 col-sm-3">
							400 шаблонов протоколов по 100 специальностям
						</div>
						<div class="col-xs-6 visible-xs">
							ПРОФЕССИОНАЛЬНАЯ ЭЛЕКТРОННАЯ КАРТА ПАЦИЕНТА
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="row">
								<div class="col-xs-12 marked">
									хранит персональные данные пациента
								</div>
								<div class="col-xs-12 marked">
									отображает историю посещений, записей на прием, осмотров, анализов, диагнозов, оказанных услуг и оплат		
								</div>
								<div class="col-xs-12 marked">
									сокращает время заполнения отчётности
								</div>
								<div class="col-xs-12 marked">
									стандартизирует работу врачей и качество оказываемых услуг
								</div>
								<div class="col-xs-12 marked">
									упрощает взаиморасчёты со страховыми компаниями
								</div>
							</div>
						</div>
						<div class="col-xs-3 hidden-xs">
							ПРОФЕССИОНАЛЬНАЯ ЭЛЕКТРОННАЯ КАРТА ПАЦИЕНТА
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 plus_img_vert std_p">
			<div class="body"><div>готовые шаблоны и протоколы осмотров</div></div>
			<div class="body"><div>готовые шаблоны и протоколы осмотров</div></div>
			<div class="body"><div>готовые шаблоны и протоколы осмотров</div></div>
			<div class="body"><div>готовые шаблоны и протоколы осмотров</div></div>
			<div class="body"><div>готовые шаблоны и протоколы осмотров</div></div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					ЕСЛИ ДОПУЩЕНА КРИТИЧЕСКАЯ ОШИБКА – ДАННЫЕ ВОССТАНАВЛИВАЮТСЯ
				</div>
			</div>
		</div>
		<div class="col-xs-12 std_p">
			<div class="row">
				<div class="col-xs-12 col-sm-4 marked">увеличивается частота повторных посещений</div>
				<div class="col-xs-12 col-sm-4 marked">повышается лояльность клиентов</div>
				<div class="col-xs-12 col-sm-4 marked">усиливается положительный имидж клиники</div>
			</div>
		</div>
</div>
</div>