<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="third page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 text-center title_blue_light">Автоматический обмен данными</div>
				<div class="col-xs-12 text-center icon_std title_dark_grey">
					<img src="img/pres_medangel_lin27.png" alt="">
					Регистратура
				</div>
				<div class="col-xs-12 text-center plus_row">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-4 item">автоматизированное рабочее место регистратора</div>
								<div class="col-xs-4 item">CRM клиники</div>
								<div class="col-xs-4 item">полная статистика деятельности учреждения</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 plus_img_vert_wrp">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="" alt=""></div>
								<div class="col-xs-12 head">Рабочее место врача</div>
								<div class="col-xs-12 body">
									<div>электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin3.png" alt=""></div>
								<div class="col-xs-12 head">ИНТЕГРАЦИЯ С ЛАБОРАТОРНОЙ ИНФОРМАЦИОННОЙ СИСТЕМОЙ</div>
								<div class="col-xs-12 body">
									<div>Across (Roche)
</div>
									<div>Хеликс</div>
									<div>ИНВИТРО</div>
									<div>НМТ</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="img/pres_medangel_lin26.png" alt=""></div>
								<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
								<div class="col-xs-12 body">
									<div>взаиморасчеты
со страховыми
компаниями</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
							<div class="row">
								<div class="col-xs-12 icon_std"><img src="" alt=""></div>
								<div class="col-xs-12 head">ИНТЕГРАЦИЯ С САЙТОМ КЛИНИКИ</div>
								<div class="col-xs-12 body">
									<div>личный кабинет
пациента</div>
									<div>запись онлайн</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 text-center title_blue_light">
							СИСТЕМА ЗАЩИТЫ ДАННЫХ
						</div>
						<div class="sys">
							<div class="col-xs-12 col-sm-8 borleft">
								<div class="row">
									<div class="col-xs-6 marked">сертифицирована Федеральной службой по техническому и экспортному контролю (ФСТЭК) России</div>
									<div class="col-xs-6 marked">ограничивает права доступа к информации,
согласно полномочиям пользователей
</div>
									<div class="col-xs-6 marked">хранит историю всех действий пользова-
телей, с указанием авторов и времени из-
менений</div>
									<div class="col-xs-6 marked">создает резервные копии</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 warn">
								<div class="wrp">
									ЕСЛИ ДОПУЩЕНА КРИТИЧЕСКАЯ ОШИБКА – ДАННЫЕ ВОССТАНАВЛИВАЮТСЯ
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>