<div class="clearfix"></div>
<div class="container col-xs-12">
	<div class="third page">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 text-center title_blue">Автоматический обмен данными</div>
				<div class="col-xs-12 text-center title_dark">Регистратура</div>
				<div class="col-xs-12 text-center plus_row">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-4 item">автоматизированное рабочее место регистратора</div>
								<div class="col-xs-4 item">CRM клиники</div>
								<div class="col-xs-4 item">полная статистика деятельности учреждения</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 plus_img_vert_wrp">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 head">Рабочее место врача</div>
								<div class="col-xs-12 body">
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 head">ИНТЕГРАЦИЯ С ЛАБОРАТОРНОЙ ИНФОРМАЦИОННОЙ СИСТЕМОЙ</div>
								<div class="col-xs-12 body">
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 head">МЕДСТАТИСТИКА</div>
								<div class="col-xs-12 body">
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 plus_img_vert">
							<div class="row">
								<div class="col-xs-12"><img src="" alt=""></div>
								<div class="col-xs-12 head">ИНТЕГРАЦИЯ С САЙТОМ КЛИНИКИ</div>
								<div class="col-xs-12 body">
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
									<div>электронная амбулаторная карта пациента</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 text-center title_blue">
							СИСТЕМА ЗАЩИТЫ ДАННЫХ
						</div>
						<div class="sys">
							<div class="col-xs-12 col-sm-8 borleft">
								<div class="row">
									<div class="col-xs-6 marked">сертифицирована Федеральной службой по техническому и экспортному контролю (ФСТЭК) России</div>
									<div class="col-xs-6 marked">сертифицирована Федеральной службой по техническому и экспортному контролю (ФСТЭК) России</div>
									<div class="col-xs-6 marked">сертифицирована Федеральной службой по техническому и экспортному контролю (ФСТЭК) России</div>
									<div class="col-xs-6 marked">сертифицирована Федеральной службой по техническому и экспортному контролю (ФСТЭК) России</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 warn">
								<div class="wrp">
									ЕСЛИ ДОПУЩЕНА КРИТИЧЕСКАЯ ОШИБКА – ДАННЫЕ ВОССТАНАВЛИВАЮТСЯ
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>