$blue_primary: #008dd2;
$blue_light: #0e9cdc;
$blue_dark: #006cb5;
$orange: #eb7d4d;
$primary: #333;

$font_size_standart: 1em;
$font_size_title: 2em;
$font_size_subtitle: 1.5em;

$pms: 8px;


.main {
	padding-top: $pms*8;
	padding-bottom: $pms*8;
	font-family: 'pf_beausans_proregular';

	.std_p {
		padding-top: $pms*5;
		padding-bottom: $pms*5;
	}

	.page {
		padding-bottom: $pms*8;
		display: inline-block;
		font-size: 16px;

		.icon_std {
			text-align: center;
			margin-bottom: $pms*3;
			margin-top: $pms*3;

			img {
				max-width: 75px;
			}
		}

		.title_blue_std {
			color: $blue_dark;
			text-transform: uppercase;
			font-family: 'pf_beausans_probold';
			text-align: center;
			padding-top: $pms*2;
			padding-bottom: $pms*2;
			font-size: 1.1em;
		}

		.title_blue_dark {
			color: $blue_dark;
			text-transform: uppercase;
			font-family: 'pf_beausans_probold';
			text-align: center;
			padding-top: $pms*3;
			padding-bottom: $pms*3;
			font-size: 1.6em;
		}

		.title_blue_light {
			color: $blue_light;
			text-align: center;
			padding-top: $pms*3;
			padding-bottom: $pms*3;
			font-size: 2.4em;
		}

		.title_dark_grey {
			color: #666;
			text-align: center;
			padding-top: $pms*3;
			padding-bottom: $pms*3;
			font-size: 2.4em;
		}


		.plus_line {
			color: $primary;
			font-style: italic;
			padding-left: $pms*2;
			position: relative;
			margin-bottom: $pms;

			&:before {
				content: "+";
				font-weight: 900;
				color: $blue_dark;
				position: absolute;
				left: 0;
				top: 0;
				font-style: normal;
			}

			&.check {

				font-style: normal;
				margin-bottom: $pms*2;

				&:before {
					content: "✓";
					font-weight: 900;
					color: red;
					position: absolute;
					left: 0;
					top: 0;
					font-style: normal;
				}	
			}
		}

		.advantages {
			padding-top: $pms*2;
			padding-bottom: $pms*2;
			padding-left: $pms*4;

			.head {
				color: $blue_dark;
				font-weight: 700;
				font-size: $font_size_subtitle;
			}

			.bot {
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 0.8em;
				margin-top: $pms;
			}
		}

		.marked {
			padding-left: $pms*4;
			position: relative;
			margin-top: $pms;
			margin-bottom: $pms;

			&:before {
				position: absolute;
				left: 0;
				display: block;
				width: 25px;
				height: 25px;
				background-image: url(../img/pres_medangel_lin14.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				content: "";
			}
		}

		.warn {
			height: 100%;
			position: absolute;
			right: 0;

			@media (max-width: 767px) {
				position: relative;
				margin-top: $pms*3;
				padding: 0
			}

			.wrp {
				top: 50%;
				position: relative;
				transform: translateY(-50%);
				padding-left: $pms*8;

				@media (max-width: 767px) {
					top: auto;
					transform: none;
				}

				&:before {

					position: absolute;
					left: 0;
					top: 50%;
					// padding: $pms/2 $pms;
					text-align: center;
					transform: translateY(-50%);
					position: absolute;
					left: 0;
					display: block;
					width: 35px;
					height: 35px;
					background-image: url(../img/pres_medangel_lin2.png);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					content: "";
				}
			}
		}
	}
}